@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:ital,wght@1,300&display=swap');

.outerDiv {
  background-image: url(./assets/jason-leung-Xaanw0s0pMk-unsplash.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-width: 500px;
  font-family: 'Kanit', sans-serif;
}

.innerDiv {
  margin: 1%;
  padding: 1%;
  height: 90%;
  width: 80%;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  overflow: auto;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 3vw;
}

table {
  width: 100%;
  text-align: center;

}

th {
  font-size: 1.5vw;
  word-wrap: break-word;
  min-width: 8vw;
}

td,
input,
textarea {
  font-size: 1.5vw;
}

th,
td {
  padding: 1%;
  border: 1px solid black;
}

input,
textarea {
  /* margin: 1%; */
  /* padding: 1%; */
  width: 100%;
  text-align: center;
}

textarea {
  max-width: 90%;
}

.btn {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: yellowgreen;
  margin: 1%;
  border-radius: 8px;
  padding: 5%;
  font-size: 1vw;
}

.redBtn button {
  background-color: orange;
}

.description {
  max-width: 600px;
  word-wrap: break-word;
}